
    <% if user_signed_in? %>
        <% if current_user.profile%>
            <% redirect_to profile_path%>
        <%else%>
            <%redirect_to new_profile_path %>
        <%end%>
    <%end %>



    <div class="jumbotron jumbotron-fluid ">
        <div class="container">
            <h1>Welcome To DevConnect</h1>
            <p class="lead">A Social Media Platform built for devs to ask questions and learn!</p>
            <p><%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-dark btn-lg" %> OR <%= link_to 'Log In', new_user_session_path, class: "btn btn-dark btn-lg" %></p>
        </div>
    </div>
